.ccaption {
    border: 2px gray solid;
    border-radius: 10px;
    background: rgba(100, 100, 100, .8);
    padding-left: 10px;
    padding-right: 10px;
}

.col-md-6 {
    padding: 0 !important;
}

.align-items-center {
    display: flex;
    align-items: center;
    /*Aligns vertically center */
    justify-content: center;
    /*Aligns horizontally center */
    text-align: center;
}

#hoteloption {
    display: none;
}

@media only screen and (max-width: 768px) {
    .hotel-text {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}